{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="col-md-8">
	<h3> Вход </h3>
	<div class="form-group row">
		<label for="colFormLabel" class="col-sm-5 col-form-label"> Логин </label>
		<div class="col-sm-7">
			<input type="text" class="form-control" id="colFormLabel" required>
		</div>
	</div>
	<div class="form-group row">
		<label for="colFormLabel1" class="col-sm-5 col-form-label"> Пароль </label>
		<div class="col-sm-7">
			<input type="password" class="form-control is-invalid" id="colFormLabel1" required>
			<div class="invalid-feedback">
				Введите правильный пароль или логин
			</div>
			<div style="margin-top: 5%">
				<button type="submit" class="btn btn-success"> Войти </button>
			</div>
			<div style="margin-top: 5%">
				<a href="{% url 'signup_url' %}" style="margin-top: 5%"> Создать новый аккаунт </a>
			</div>
		</div>
	</div>		
</div>

<div class="col-md-4"></div>

{% endblock content %}