{% extends 'base.html' %}

{% load static %}

{% block content %}

<h3 class="md-3"> Вопрос </h3>

<div class="card mb-3">
	<div class="row no-gutters">
		<div class="col-md-4">
			<div class="text-center card-body">
			    <h5 class="card-title">
				    {{ question.author }}
				</h5>
				<p class="card-text">
			        <img src="/{{ question.author.avatar }}"
			        width="200" height="150" alt="NO FACE">
			    </p>
			    <button type="button" class="btn btn-white">
				    <img src="{% static 'img/like.jpg' %}" width="25" height="25" alt="...">
				    <span class="badge badge-success"> {{ question.num_like }} </span>
			    </button>
			    <button type="button" class="btn btn-white">
				    <img src="{% static 'img/dislike.jpg' %}" width="25" height="25" alt="...">
				    <span class="badge badge-danger"> {{ question.num_dislike }} </span>
			    </button>
			</div>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title"> {{ question.title }} </h5>
				<p class="card-text"> {{ question.body }} </p>

				<div class="row">
		            <div class="col-md-4">
					    <a href="{% url 'question_info_url' slug=question.slug%}"> 
					        Ответы({{ question.answers.count }})
					    </a>
					</div>
					<div class="col-md-8">
					    <p>
					        Тэги:
					        {% for tag in question.tags.all %}
					            <a href="{% url 'question_tag_url' title=tag.title %}" 
					            class="badge badge-secondary"> {{ tag.title }} </a>
					        {% endfor %} 
					    </p>
					</div>
				</div>
				
				<p class="card-text">
					<small class="text-muted"> 
					    Дата публикации: {{ question.datetime_published }}
				    </small>
				</p>
			</div>
		</div>
	</div>
</div>

<h3 class="md-3"> Ответы </h3>

{% for answer in question.answers.all %}
<div class="card mb-3">
	<div class="row no-gutters">
		<div class="col-md-4">
			<div class="text-center card-body">
			    <h5 class="card-title">
				    {{ answer.author }}
				</h5>
				<p class="card-text">
			        <img src="/{{ answer.author.avatar }}"
			        width="200" height="150" alt="NO FACE">
			    </p>
			    <button type="button" class="btn btn-white">
				    <img src="{% static 'img/like.jpg' %}" width="25" height="25" alt="...">
				    <span class="badge badge-success"> {{ answer.num_like }} </span>
			    </button>
			    <button type="button" class="btn btn-white">
				    <img src="{% static 'img/dislike.jpg' %}" width="25" height="25" alt="...">
				    <span class="badge badge-danger"> {{ answer.num_dislike }} </span>
			    </button>
			</div>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<p class="card-text"> {{ answer.body }} </p>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="customCheckDisabled" disabled
					{% if answer.correctness %}
					    checked 
					{% endif %}>
					<label class="custom-control-label" for="customCheckDisabled"> Правильный ответ! </label>
				</div>
				<p class="card-text">
					<small class="text-muted"> 
					    Дата публикации: {{ answer.datetime }}
				    </small>
				</p>
			</div>
		</div>
	</div>
</div>
{% endfor %}

<form>
	<h3> Добавить ответ </h3>	
	<div class="form-group row">
		<label for="colFormLabel" class="col-sm-2 col-form-label"> Текст ответа </label>
		<div class="col-sm-10">
			<textarea class="form-control" aria-label="With textarea" rows="10" required></textarea>
			<button type="submit" class="btn btn-success" style="margin-top: 5%"> Ответить </button>
		</div>
	</div>
</form>

{% endblock content %}