{% load static %}

<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" >

	<title> Форум бомонки </title>
</head>

<body>
	<!-- Шапка -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="{% url 'questions_new_url'%}">
			<img src="{% static 'img/logo_bmstu.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt=""> Форум бомонки
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample04">
			<form class="form-inline my-2 my-md-0">
				<input class="form-control" type="text" placeholder="Поиск">
			</form>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'ask_url' %}"> Новый вопрос </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"> Мои вопросы </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"> Мои ответы </a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Инфа </a>
					<div class="dropdown-menu" aria-labelledby="dropdown04">
						<a class="dropdown-item" href="#"> Настройки </a>
						<a class="dropdown-item" href="#"> Помощь </a>
						<a class="dropdown-item" href="#"> Выход </a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login_url' %}"> Вход </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'signup_url' %}"> Регистрация </a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="row card-body">
		<div class="col-md-1"></div>

		<div class="col-md-7">
			{% block content %}
			no application
			{% endblock content %}

			{% if is_paginated %}
				<ul class="pagination mb-0">
					<li class="page-item {% if not prev_url %} disabled {% endif %}">
						<a class="page-link" href="{{ prev_url }}" tabindex="-1"> Назад </a>
					</li>
					{% for idx in page_object.paginator.page_range %}
					    {% if page_object.number == idx %}
					    <li class="page-item active" aria-current="page">
						    <a class="page-link" href="?page={{ idx }}">
						    	{{ idx }}
							    <span class="sr-only">(current)</span>
						    </a>
					    </li>
						{% elif idx > page_object.number|add:-3 and idx < page_object.number|add:3 %}
						<li class="page-item">
							<a class="page-link" href="?page={{ idx }}">{{ idx }}</a>
						</li>
						{% endif %}
					{% endfor %}
					<li class="page-item {% if not next_url %} disabled {% endif %}">
						<a class="page-link" href="{{ next_url }}" tabindex="-1"> Вперед </a>
					</li>
				</ul>
			{% endif %}

		</div>

		<div class="col-md-3">

			<h3 class="md-3"> Популярные теги </h3>
			<div class="card mb-3 card-body">
				<h>
					<a href="URL"> #Саша </a>
					<a href="URL"> #Киса </a> 
				</h>
			</div>

			<h3> Лучшие пользователи </h3>
			<div class="card mb-3 card-body"> <!-- text-center -->
				<p> <a href="URL"> Саша </a> </p>
				<p> <a href="URL"> Даниэль Пак </a> </p> 
				<h> <a href="URL"> Бетти Симонс </a> </h>
			</div>

			<div class="mb-3">
				<a href="{% url 'questions_new_url' %}" class="btn btn-outline-success btn-lg" 
				role="button" aria-pressed="true"> Новые вопросы </a>
			</div>

			<div class="mb-3">
				<a href="{% url 'questions_top_url' %}" class="btn btn-outline-danger btn-lg" 
				role="button" aria-pressed="true"> Лучшие вопросы </a>
			</div>

		</div>

		<div class="col-md-1"></div>
	</div>

	<!-- Optional JavaScript-->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static 'node_modules/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
	<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>

</html>